<phpunit bootstrap="tests/bootstrap.php" stderr="true">
    <testsuite name="tests">
        <directory suffix="Test.php">tests</directory>
    </testsuite>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
